// Shades of gray
$color-black: #000000;
$color-charcoal: #101010;
$color-hero-background: #191919;
$color-input-border: #cfcfcf;
$color-light-gray: #f1f1f1;
$color-off-white: #fafafa;
$color-white: #ffffff;

// Accent colors
$color-accent: #d87d4a;
$color-accent-light: #fbaf85;

$color-error: #cd2c2c;
