<ng-container [ngSwitch]="viewport">
  <img *ngSwitchCase="'desktop'" src="../../../assets/images/shared/desktop/best-gear.jpg" width="540" height="588"
    placeholder alt="">
  <img *ngSwitchCase="'tablet'" src="../../../assets/images/shared/tablet/best-gear.jpg" width="689" height="300"
    placeholder alt="">
  <img *ngSwitchCase="'mobile'" src="../../../assets/images/shared/mobile/best-gear.jpg" width="327" height="300"
    placeholder alt="">
</ng-container>
<div class="text-container">
  <h2 class="heading">Bringing you the <span class="word-highlight">best</span> audio gear</h2>
  <p class="text-body">
    Located at the heart of New York City, Audiophile is the premier store for high end headphones,
    earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration
    rooms available for you to browse and experience a wide range of our products. Stop by our store
    to meet some of the fantastic people who make Audiophile the best place to buy your portable
    audio
    equipment.
  </p>
</div>