@use "index" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  @include tablet {
    gap: 64px;
  }

  @include desktop {
    flex-direction: row-reverse;
    gap: 125px;
  }
}

img {
  background-color: $color-light-gray;
  border-radius: 8px;
  height: auto;
}

.text-container {
  max-width: 572px;
  text-align: center;

  @include desktop {
    max-width: 444px;
    text-align: start;
  }
}

.heading {
  @include h2;

  @include mobile {
    @include h4;
  }
}

.word-highlight {
  color: $color-accent;
}

.text-body {
  margin-top: 32px;
  @include body;
}
