@use "index" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    padding: 64px $mobile-horizontal-page-padding 120px;
  }

  @include tablet {
    padding: 120px $tablet-horizontal-page-padding;
  }

  @include desktop {
    padding: 160px $desktop-horizontal-page-padding;
  }
}

.product-preview-container {
  display: flex;
  flex-direction: column;
  gap: 120px;

  @include desktop {
    gap: 160px;
  }
}

app-rich-navigation {
  align-self: stretch;
  margin: 120px 0;

  @include desktop {
    margin: 160px 0;
  }
}
