@use "index" as *;

:host {
  display: block;
}

.link-container {
  display: flex;
  gap: 16px;
}

.link {
  color: $color-white;
  transition: $short-color-transition;

  &:is(:hover, :focus-visible) {
    color: $color-accent;
  }
}
