<nav aria-label="Product Categories">
  <ul class="link-container">
    <li class="link-container-item" *ngFor="let category of productCategories">
      <img class="link-image" alt
          src="/assets/images/shared/desktop/category-thumbnail-{{ category }}.png">
      <a class="link" [routerLink]="['/product-category', category]"
          [attr.aria-label]="'Shop ' + category">
        <span class="product-category" aria-hidden="true">{{ category }}</span>
        <div class="link-label-container">
          <span class="link-label" aria-hidden="true">Shop</span>
          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" aria-hidden="true">
            <path class="arrow" d="M1.3219 1L6.3219 6L1.3219 11" stroke-width="2" />
          </svg>
        </div>
      </a>
    </li>
  </ul>
</nav>
